.cuadro2{
	position: absolute;
	top: 150px;
	left: 130px;
	background: #CDD1CA;
	border:solid black 3px;
	width: 110px;
	height: 40px;
	padding: 15px;
	font-size: 20px;
	color: black;


}


.cuadro2:hover{
	position: absolute;
	top: 150px;
	left: 130px;
	background: #4B712F;
	border:solid black 3px;
	width: 110px;
	height: 40px;
	padding: 15px;
	font-size: 20px;
	color: white;


}
.b1{
	margin-top: -250px;
	 margin-left: 70px;
}
.cuadro3{
	display: none;
}

.cuadro4{
	display: block;
	position: absolute;
	top: 0px;
	left: ;
	background-image: url(natural.jpg);: 
	border:solid black 2px;
	width: 310px;
	height: 312px;
	padding: 45px;
	font-size: 20px;
	color: white;
}






.cuadro5{
	position: relative;
	top: 150px;
	left: 130px;
	background: #CDD1CA;
	border:solid black 3px;
	width: 110px;
	height: 40px;
	padding: 15px;
	font-size: 20px;
	color: black;


}


.cuadro5:hover{
	position: relative;
	top: 150px;
	left: 130px;
	background: #4B712F;
	border:solid black 3px;
	width: 110px;
	height: 40px;
	padding: 15px;
	font-size: 20px;
	color: white;


}

.b3{
	margin-top: 20px;
	 margin-left: 100px;
}
.cuadro6{
	display: none;
}

.cuadro7{
	display: block;
	position: absolute;
	top: 280px;
	left: 660px;
	background-image: url(lago.jpg);: 
	border:solid black 2px;
	width: 312px;
	height: 310px;
	padding: 45px;
	font-size: 20px;
	color: white;
}


